body {
    background-color: #a8e5c4;
	font:16px Arial;
}

ul, li {
    display: inline;
}

p, h1{
	margin-left:10px;
	margin-right:10px;
}

#header {
	line-height: 80px;
	text-align:center;
    background-color: #000000;
    color: #ffffff;
	border:thick double #ffffff;
}

