body {
    background-color: #a8e5c4;
	font:16px Arial;
	margin-top:5px;
	margin-bottom:5px;
}

ul, li {
    display: inline;
}

a {
	color:white;
	text-shadow: 2px 2px #343a40;
}

#header {
	width:95%;
	line-height: 80px;
	text-align:center;
    background-color: #000000;
    color: #ffffff;
	border:thick double #ffffff;
}

