body {
    background-color: #a8e5c4;
	font:16px Arial;
	margin: 5px 5px 5px 5px;
}

ul, li {
    display: inline;
}

a {
	border-radius: 35px;
	padding:10px;
	background-color: antiquewhite;
}
a:hover {
	background-color:#767d84;
	color:white;
	transition: all 0.5s;
}


#header {
	line-height: 80px;
	text-align:center;
    background-color: #000000;
    color: #ffffff;
	border:thick double #ffffff;
}

ul.list > li {
	list-style-type: circle;
	display: block;
}

iframe {
	margin: 5px 0 5px 0;
	width: 100%;
}



